<md-toolbar class="md-table-toolbar md-default" data-ng-init="init('beans')">
    <div class="md-toolbar-tools">
        <span>Managed Beans</span>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="sortAndPaginateResult">
        <tr md-row>
            <th md-column>#</th>
            <th md-column md-string md-order-by="bean"><span>Bean</span></th>
            <th md-column md-string md-order-by="type">Type</th>
            <th md-column md-string md-order-by="dependencies">Dependencies</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="item in paginatedResult track by $index">
            <td md-cell>{{(query.page -1)* query.limit + $index +1}}</td>
            <td md-cell>{{item.bean}}</td>
            <td md-cell>{{item.type}}</td>
            <td md-cell>{{item.dependencies}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit"
                     md-limit-options="[10, 20, 30]"
                     md-page="query.page"
                     md-total="{{total}}"
                     md-on-paginate="sortAndPaginateResult"
                     md-page-select>

</md-table-pagination>