<md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar" data-ng-init="init('mappings')">
    <div class="md-toolbar-tools">
        <h3 class="panel-widget-tittle">URL mapping</h3>
        <span flex></span>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select ng-model="selected" md-progress="promise"
           class="table table-hover table-bordered">
    <thead md-head md-order="query.order" md-on-reorder="sortAndPaginateResult">
        <tr md-row>
            <th md-column>#</th>
            <th md-column md-string md-order-by="uri"><span>URI</span></th>
            <th md-column md-string md-order-by="bean">Bean</th>
            <th md-column md-string md-order-by="method">Method</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="item in paginatedResult track by $index">
            <td md-cell>{{(query.page -1)* query.limit + $index +1}}</td>
            <td md-cell>{{item.uri}}</td>
            <td md-cell>{{item.bean}}</td>
            <td md-cell>{{item.method}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit"
                     md-limit-options="[10, 20, 30]"
                     md-page="query.page"
                     md-total="{{total}}"
                     md-on-paginate="sortAndPaginateResult"
                     md-page-select>

</md-table-pagination>
