<div class="table-responsive-vertical md-whiteframe-z1" data-ng-init="vm.init()">
    <md-content>
        <md-subheader class="md-primary"><h4>HTTP call trace</h4>
        </md-subheader>
        <md-divider></md-divider>
        <table id="table" class="table table-hover table-bordered dataTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Method</th>
                <th>Path</th>
                <th>Host</th>
                <th>Status</th>
                <th>Request</th>
                <th>Response</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trace in vm.traces track by $index">
                <td><strong>{{$index + 1}}</strong></td>
                <td>{{trace.timestamp|date:medium}}</td>
                <td>{{trace.info.method}}</td>
                <td>{{trace.info.path}}</td>
                <td> {{trace.info.headers.request.host}}</td>
                <td>{{trace.info.headers.response.status}}</td>
                <td>
                    <a href="javascript:void(0)" data-ng-click="trace.showRequest=!trace.showRequest">Show Details</a>
                    <p data-ng-show="trace.showRequest" data-ng-repeat="(key, value) in trace.info.headers.request">
                        <strong>{{key}}</strong>: {{value}}
                    </p>
                </td>
                <td>
                    <a href="javascript:void(0)" data-ng-click="trace.showResponse=!trace.showResponse">Show Detail</a>
                    <p data-ng-show="trace.showResponse" data-ng-repeat="(key, value) in trace.info.headers.response">
                        <strong>{{key}}</strong>: {{value}}
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </md-content>
</div>
